<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="layouts/main">
<head>
  <title>Manage VAT</title>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
</head>
<body>
<div layout:fragment="content">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="page-header">
      <h2>Manage VAT</h2>
    </div>
  </div>
  <div class="col-lg-offset-1 col-lg-10">
    <div class="btn-group pull-right" role="group">
      <a class="btn btn-primary" th:href="@{/vat/add}">Add</a>
    </div>
    <table id="table-vat" class="table table-hover table-responsive dataTable">
      <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="vat : ${vats}">
        <td nowrap="true" th:text="${#temporals.format(vat.date, 'E dd MMM yyyy')}"></td>
        <td nowrap="true" th:text="${vat.amount}"></td>
        <td th:text="${vat.comments}"></td>
        <td nowrap="true">
          <div class="btn-toolbar" role="toolbar">
            <a th:href="@{/vat/copy/__${vat.id}__}" class="btn btn-primary btn-xs">Copy</a>
            <a th:href="@{/vat/edit/__${vat.id}__}" class="btn btn-warning btn-xs">Edit</a>
            <a th:href="@{/vat/delete/__${vat.id}__}" class="btn btn-danger btn-xs">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<th:block layout:fragment="javascript">
  <script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script>
$(document).ready(function(){
  $('#table-vat').DataTable({
    autoWidth: false, dom: 'tip', ordering: false, pageLength: 50,
    language: {
      emptyTable: 'No VAT has been recorded.'
    },
  });
});
  </script>
</th:block>
</body>
</html>
